*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #292929;
}

/*LOGO*/
.logo{
    position: fixed;
    height: 6vh;
    width: 100vw;
    background-color: white;
	box-shadow: 0px 2px 5px #969595;
}
.logo a{
	color: #292929;
}
.logo a:hover{
	color: #98bb64;
}
.logo h2{
	margin: 1.3vh 2vh;
	font-size: 1.1rem;
	display: inline-block;
}
.logo_nav{
	float: right;
	margin: 1.5vh 5vh;
	display: none;
}
.logo_nav a{
	margin-left: 3vh;
	padding: 1vh 0.5vh 0;
	text-decoration: none;
	color: #292929;
}

/*NAVIGATION IMAGES*/
.navimg{
    padding-top: 5vh;
    height: 100vh;
    display: flex;
	text-align: center;
}
.imagebg_1{
	flex: 25%;
    background-image: url("../images/blue.jpg");
    background-size: cover;
}
.imagebg_2{
	flex: 25%;
    background-image: url("../images/green.jpg");
    background-size: cover;
}
.imagebg_3{
	flex: 25%;
    background-image: url("../images/yellow.jpg");
    background-size: cover;
}
.imagebg_4{
	flex: 25%;
    background-image: url("../images/purple.jpg");
    background-size: cover;
}
.nav_box{
    border-radius: 5px;
    border: white solid 3px;
    width: 50%;
    display: block; 
    margin: 0 auto;
    align-self: center;
    padding: 2%;
}
.nav_box:hover {
	padding: 3%;
	width: 52%;
}
.navbox_center{
    display: flex;
    justify-content: center;
}
.nav_box a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
	font-weight: 500;
}

/*ABOUT*/

.colorBar{
    background-color: #c1c1c1;
    height: 6vh;
}
.about_sec{
    display: flex;
    padding: 10vh 10vw;
	margin-bottom: 5vh;
}
.aboutimg{
    flex: 40%;
	height: 90%;
    width: 40%;
}
.abouttext{
    flex: 60%;
    padding-left: 5vw;
}
.abouttext h2{
	font-size: 2rem;
	margin-bottom: 4vh;
	font-weight: 500;
}


/*TEACHER*/
.teach_sec{
    display: flex;
    padding: 0 8vw;
	margin-bottom: 5vh;
}
.teach_h2{
	font-size: 2rem;
	margin-bottom: 4vh;
	font-weight: 500;
	text-align: center;
}
.teach{
    flex: 25%;
    padding: 1%;
}
.teach_images{
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 3vh;
}
.teach h3{
	text-align: center;
	font-weight: 700;
	font-size: 1.1rem;
}
.teach h4{
	text-align: center;
	font-weight: 500;
	font-size: 1.rem;
}
.teachtext{
    text-align: justify;
    margin: 4% 3%;
}

/*CLASSES*/
.classsec{
    display: flex;
    padding: 10vh 8vw;
}
.classtext h2{
	font-size: 2rem;
	margin-bottom: 4vh;
	font-weight: 500;
}
.class_table{
    flex: 45%;
	align-self: center;
}

table, tr, td{
    border: 1px solid #eaeaea;
	border-collapse: collapse;
	text-align: center;
}
td{
	padding: 1%;
}
.time{
	background-color: #c1c1c1;
}
.c{
	background-color: #d2eaaf;
}


.download{
	text-align: center;
}
.download a{
	background-color: #98bb64;
	display: inline-block;
	padding: 1% 3%;
	margin-top: 4vh;
	border-radius: 5px;
	text-decoration: none;
	color: white;
}
.classtext{
    flex: 55%;
    padding-left: 5vw;
}
.classtext h3{
	font-weight: 700;
	font-size: 1.1rem;
}
.classtext p{
	text-align: justify;
    margin: 1% 0% 3%;
}

/*PRICES*/
.price_sec{
    background-color: #a9ce73;
	padding: 8vh 8vw 4vh;
}
.price_boxes{
    display: flex;
}
.price{
    flex: 25%;
    margin: 0% 2% 2% 0%;
	text-align: center;
}
.price_sec h2{
	text-align: center;
	font-size: 2rem;
	padding-bottom: 2vh;
	font-weight: 500;
}
.price_sec p{
	text-align: center;
	padding-bottom: 6vh;
}
.price_sec p a{
	text-decoration: none;
}
.price_sec p a:hover{
	color: white;
}
.pricetop{
    border-radius: 5px 5px 0px 0px;
    padding: 2%;
    background-color: #c1c1c1;
}
.pricebottom{
    background-color: white;
    border-radius: 0px 0px 5px 5px;
	height: 60%;
    padding: 2vh 2vw;
}
.featureprice{
    font-size: 3rem;
    padding-right: 2%;
}
ul{
	list-style-type: none;
}
.d{
    font-size: 200%;
	padding-right: 1%;
}

/*CONTACT*/
.contact_sec{
    padding: 10vh 8vw;
}
.contact_sec h2{
	text-align: center;
	font-size: 2rem;
	padding-bottom: 5vh;
	font-weight: 500;
}
.contact_box{
    display: flex;
}
.contact{
    flex: 33%;
    margin: 0% 2% 2% 0%;
}
.con_img{
	width: 100%;
}
.con_details{
	align-self: center;
}
.contact p{
	padding-bottom: 2vh;
	display: inline-block;
}
.contact i{
	margin-right: 1vw;
}

/*FORM*/
.form_sec{
    padding: 0 25vw 8vh;
}
.form_sec h2{
	text-align: center;
	font-size: 2rem;
	padding-bottom: 5vh;
	font-weight: 500;
}
.form_box{
    display: flex;
    padding: 4% 4% 3%;
    background-color: #a9ce73;
	border-radius: 5px;
	align-self: center;
}
.form1{
    flex: 40%;
}
.form2{
    flex: 60%;
}
input[type=text]{
	padding: 1%;
	margin-bottom: 1.5%;
	width: 90%;
}
textarea{
	padding: 1%;
	margin-bottom: 0.5%;
	width: 100%;
	resize: none;
}
input[type=submit]{
	padding: 1.5% 8%;
	float: right;
	background-color: #c1c1c1;
	border: none;
	border-radius: 5px;
}
input[type=submit]:hover{
	background-color: white;
}

/*FOOTER*/
footer p{
	margin-top: 2vh;
	text-align: center;
	padding-top: 2vh;
	font-size: 0.8rem;
}
