*{
    margin: 0px;
    padding: 0px;
    font-family: 'Droid Sans', sans-serif;
}

.border{
    border: 1px solid black;
}
.colorBar{
    background-color: mediumpurple;
    height: 50px;
}
.textcenter{
    text-align: center;
}
.textpad{
    margin: 3% 0% 2% 0%;
}
/*NAVIGATION BAR*/
nav{
    height: 10vh;
}

/*NAVIGATION IMAGES*/
.navimg{
    height: 90vh;
    display: flex;
}
.image{
    flex: 25%;
}

.about{
    border-radius: 5px;
    border: white solid 3px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    width: 50%;
    display: block; 
    margin: 0 auto;
    align-self: center;
    padding: 2%;
}
.imagebg{
    background-image: url("../images/ph2.jpg");
    background-size: cover;
   
}
.navbox{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}
/*ABOUT*/
.aboutsec{
    display: flex;
    padding: 0% 5% 0% 5%;
}
.aboutimg{
    flex: 25%;
    height: 50%;
    width: 40%;
}
.abouttext{
    flex: 75%;
    padding-left: 2.5%;
}

/*TEACHER*/
.teachers{
    display: flex;
    padding: 2% 5% 2% 5%;
    text-align: center;
}
.teach{
    flex: 25%;
    padding: 1%;
}
.teachtext{
    text-align: left;
    padding: 5%; 1% 1% 1%;
    font-size: 90%;
}
/*CLASSES*/
.classsec{
    display: flex;
    padding: 0% 5% 0% 5%;
}
.classesimg{
    flex: 25%;
    height: 50%;
    width: 50%;
}
.classestext{
    flex: 75%;
    padding-left: 2.5%;
}